html, body {
	margin: 0; 
	padding: 0;
	font-family: Georgia;
    background-color: #f2f3f4;
	scroll-behavior: smooth;
}
/* Header Tabs */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #500000;
  }
  
li {
    float: right;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #500000;
  }

/* Structual Elements */ 
.content {
    /*background-color: #faf0e6;*/
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
}

.panel {
    margin: auto;
    margin-top: 20px;
}
.rcorners {
    margin: auto;
    border-radius: 15px;
    background: white;
    padding: 20px; 
    width: 85%;
    height: 150px; 
} 
